.with-shadow {
    border-radius: 12px;
    box-shadow:
        0 2px 4px -1px rgba(0, 0, 0, 0.06),
        0 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding-right: 4px !important;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.04);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    width: 8px;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
}
